
@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="style.css" rel="stylesheet">*@
    <link href="~/Content/Mobile/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    @*<link href="http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet"><!---google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet"><!---google fonts-->
    @* <link href="dist/aos.css" rel="stylesheet">*@
    <link href="~/Content/dist/aos.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Shared/Mobile_menu.cshtml")
    @Html.Partial("~/Views/Shared/mobile_header.cshtml")

    <main class="main-padding">
        <!--main paddng start-->


        <div class="not-just-an aos-item" data-aos="fade-up">
            <!----not just an scn start-->
            <h5>Not just an IT company creative heads</h5>
        </div>                                <!----not just an scn end-->

        <div class="main-below-img aos-item" data-aos="fade-up">
            <!----about us img scn start-->

            <div class="hdng-below-img1  mb-below-img">
                <img src="~/Content/Mobile/images/about-us-img1.png" class="img1-pullng" />
                <img src="~/Content/Mobile/images/about-us-img2.png" class="img2_pulling" />
            </div>

            <div class="hdng-below-img2">
                <img src="~/Content/Mobile/images/about-us-img3.png" class="img1-pullng" />
                <img src="~/Content/Mobile/images/about-us-img4.png" />
            </div>

        </div>                     <!----about us img scn end-->

        <div class="what-we-do">
            <!---what we do scn stsrt-->
            <div class="explore-sr">
                <h5 class="aos-item" data-aos="fade-down">01</h5>
            </div>
            <div class="explore-text aos-item" data-aos="fade-up">
                <h4>Explore</h4>
                <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
            </div>

            <div class="explore-sr">
                <h5 class="aos-item" data-aos="fade-down">02</h5>
            </div>
            <div class="explore-text aos-item" data-aos="fade-up">
                <h4>Explore</h4>
                <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
            </div>

            <div class="explore-sr">
                <h5 class="aos-item" data-aos="fade-down">03</h5>
            </div>
            <div class="explore-text aos-item" data-aos="fade-up">
                <h4>Explore</h4>
                <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
            </div>

    </main>                           <!---main padding end-->
    </div>      <!---what we do scn end-->
    </main>              <!--main paddng start-->
    <div class="emp-section explore-text">

        <div class="emp-scn-text">
            <p>Conceptualizing brilliant ideas for fortune 500 enterprises and startups</p>
        </div>

        <div class="emp-scn-img">
            <ul>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img1.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag1"><a href="#"><img src="~/Content/Mobile/images/about-emp-img2.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img3.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag1"><a href="#"><img src="~/Content/Mobile/images/about-emp-img5.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img5.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag1"><a href="#"><img src="~/Content/Mobile/images/about-emp-img6.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img7.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag1"><a href="#"><img src="~/Content/Mobile/images/about-emp-img8.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img9.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag1"><a href="#"><img src="~/Content/Mobile/images/about-emp-img10.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img11.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag1"><a href="#"><img src="~/Content/Mobile/images/about-emp-img12.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                <li class="thumb zigzag"><a href="#"><img src="~/Content/Mobile/images/about-emp-img13.png" /><span class="come-right"><h3>Ajaybir singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
            </ul>
        </div>

    </div>



    @Html.Partial("~/Views/Shared/mobile_Footer.cshtml")
    @*<?php include("common/footer.php"); ?>*@ <!---footer php file ----->
    @*<script src="js/custom.js" type="text/javascript"></script>*@
    <script src="~/../../Content/Mobile/js/custom.js"></script>



    <script>
        $(document).ready(function () {
            $(".imgdown").on("click", function () {
                $(this).parent().find(".pcontent").removeClass("hide");
                $(this).parent().find(".pcontent").addClass("display_content");
                $(this).parent().find(".imgup").addClass("display_content");
                $(this).parent().find(".imgup").removeClass("hide");
                $(this).addClass("hide");
            });
            $(".imgup").on("click", function () {
                $(this).parent().find(".pcontent").removeClass("display_content");
                $(this).parent().find(".pcontent").addClass("hide");
                $(this).parent().find(".imgdown").addClass("display_content");
                $(this).parent().find(".imgdown").removeClass("hide");
                $(this).addClass("hide");
            });
        });
    </script>
    @*<script src="dist/aos.js"></script>*@
    <script src="~/../../Content/dist/aos.js"></script>

    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>

</body>
</html>