
@{
    ViewBag.Title = "Contact_Us_2";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="style.css" rel="stylesheet">*@
    <link href="~/Content/Mobile/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    @*<link href="http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet"><!---google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet"><!---google fonts-->
    @* <link href="dist/aos.css" rel="stylesheet">*@
    <link href="~/Content/dist/aos.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Shared/Mobile_menu.cshtml")
    @Html.Partial("~/Views/Shared/mobile_header.cshtml")

    <main class="main-padding">
        <!--main paddng start-->


        <div class="conatct_us_wrapper aos-item" data-aos="fade-up">
            <!----we love collaborations  start-->
            <h1>We love collaborations to create products</h1>
        </div>                                 <!----we love collaborations  end-->
        <!----contact us looking-->
        <div class="conatct_us_looking">
            <h1 class="aos-item" data-aos="fade-up">Looking for?</h1>
            <div class="contact_us_list">
                <ul>

                    <li class="aos-item" data-aos="fade-up"><a href="">UI UX Design</a></li>
                    <li class="aos-item" data-aos="fade-down"><a href="">Mobile Application</a></li>
                    <li class="aos-item" data-aos="fade-up"><a href="">Back end</a></li>
                    <li class="aos-item" data-aos="fade-down"><a href="">BRAND IDENTITY</a></li>
                    <li class="aos-item" data-aos="fade-up"><a href="">Careers</a></li>
                    <li class="aos-item" data-aos="fade-down"><a href="">Other</a></li>



                </ul>
            </div>

        </div>  <!--contact us project end-->

        <div class="contact_form">
            <form>
                <label for="fname" class="aos-item" data-aos="fade-up">Name</label>
                <input type="text" class="aos-item" data-aos="fade-up" id="fname" name="firstname" placeholder="">

                <label for="lname" class="aos-item" data-aos="fade-up">Email</label>
                <input type="text" id="lname" name="lastname" class="aos-item" data-aos="fade-up">

                <label for="fname" class="aos-item" data-aos="fade-up">Company Name</label>
                <input type="text" class="aos-item" data-aos="fade-up" id="fname" name="firstname">

                <label for="subject" class="aos-item" data-aos="fade-up">Your Message</label>
<textarea id="subject" name="subject" class="aos-item" data-aos="fade-up" style="height:40px"></textarea>




            </form>
            <div class="contact_form_btn aos-item" data-aos="fade-up">
                <a href="">Submit</a>
            </div>
        </div>

    </main>                           <!---main padding end-->
    @Html.Partial("~/Views/Shared/mobile_Footer.cshtml")
    @*<?php include("common/footer.php"); ?>*@ <!---footer php file ----->
    @*<script src="js/custom.js" type="text/javascript"></script>*@
    <script src="~/../../Content/Mobile/js/custom.js"></script>




    <script>
        $(document).ready(function () {
            $(".imgdown").on("click", function () {
                $(this).parent().find(".pcontent").removeClass("hide");
                $(this).parent().find(".pcontent").addClass("display_content");
                $(this).parent().find(".imgup").addClass("display_content");
                $(this).parent().find(".imgup").removeClass("hide");
                $(this).addClass("hide");
            });
            $(".imgup").on("click", function () {
                $(this).parent().find(".pcontent").removeClass("display_content");
                $(this).parent().find(".pcontent").addClass("hide");
                $(this).parent().find(".imgdown").addClass("display_content");
                $(this).parent().find(".imgdown").removeClass("hide");
                $(this).addClass("hide");
            });
        });
    </script>
    @*<script src="dist/aos.js"></script>*@
    <script src="~/../../Content/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
</body>
</html>