<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="style.css" rel="stylesheet">*@
    <link href="~/Content/Mobile/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    @*<link href="http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet"><!---google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet"><!---google fonts-->
    @* <link href="dist/aos.css" rel="stylesheet">*@
    <link href="~/Content/dist/aos.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("~/Views/Shared/Mobile_menu.cshtml")
    @Html.Partial("~/Views/Shared/mobile_header.cshtml")

    <main class="main-padding">
        <div class="we-are">
            <!---elite qualities start-->
            <p class="aos-item" data-aos="fade-down">We are</p>

            <div class="we_are_wrapper aos-item" data-aos="fade-up">
                <a href="#">Creators,</a>

                <a href="#">Developers,</a>

                <a href="#">Stragertists,</a>
                
                <a href="#">Consultants,</a>

                <a href="#">marketers</a>
            </div>

        </div>    <!---elite qualities end-->

        <div class="company-images aos-item" data-aos="fade-up">
            <!-----company images start-->
            <p>From Fortune 500 to Start-ups,<br>we have worked with every brilliant idea</p>
            <div class="com-img-sec aos-item" data-aos="fade-up">
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
                <a href=""><img src="~/Content/Mobile/images/co-img8.svg" class="mr-co-img" width=92 /></a>
            </div>
            <a href="" class="view-text">VIEW ALL</a>
        </div>                                       <!-----company images end-->

        <div class="main_scroll_div">
            <div class="jans-trading mt-tradeship aos-item" data-aos="fade-right">
                <!-----jans trading trade ship section start-->
                <div class="jt-text1">
                    <p>JANSTRADING<br><span class="span-trade">Tradeship</span></p>
                </div>
                <div class="jt-img">
                    <img src="~/Content/Mobile/images/jt-img1.png" width=100% />
                </div>
                <div class="jt-text2">
                    <p>Online sale purchse of used vehicles worldwide</p>
                    <img src="~/Content/Mobile/images/arrow-btm.svg" class="aos-item" data-aos="fade-right" width=100% />
                </div>
            </div>                                  <!-----jans trading trade ship section start-->
            <div class="jans-trading mt-tradeship">
                <!----apne guru market place - start-->
                <div class="jt-text1">
                    <p>APNE GURU<br><span class="span-trade"> Marketplace</span></p>
                </div>
                <div class="jt-img">
                    <img src="~/Content/Mobile/images/jt-img2.png" width=100% />
                </div>
                <div class="jt-text2">
                    <p>Online sale purchse of used vehicles worldwide</p>
                    <img src="~/Content/Mobile/images/arrow-btm.svg" class="aos-item" data-aos="fade-right" width=100% />
                </div>
            </div>                          <!----apne guru market place - end-->

            <div class="jans-trading mt-tradeship">
                <!----orderpal  point of sale start -->
                <div class="jt-text1">
                    <p>ORDERPAL<br><span class="span-trade"> Point of sales</span></p>
                </div>
                <div class="jt-img">
                    <img src="~/Content/Mobile/images/jt-img1.png" width=100% />
                </div>
                <div class="jt-text2">
                    <p>Online sale purchse of used vehicles worldwide</p>
                    <img src="~/Content/Mobile/images/arrow-btm.svg" class="aos-item" data-aos="fade-right" width=100% />
                </div>
            </div>                               <!----orderpal  point of sale end -->
        </div>
        <div class="jtc-andy">
            <!---jtc client andy gilbert start---->
            <div class="andy-text1">
                <p class="aos-item" data-aos="fade-down">Start up or an Enterprise, we have worked with all</p>
                <div class="jt-client-img">
                    <a href=""><img src="~/Content/Mobile/images/client-img1.png" class="radius-img aos-item" data-aos="fade-up" /></a>
                    <a href=""><img src="~/Content/Mobile/images/client-img1.png" class="aos-item" data-aos="fade-down" /></a>
                    <a href=""><img src="~/Content/Mobile/images/client-img1.png" class="aos-item" data-aos="fade-up" /></a>
                    <a href=""><img src="~/Content/Mobile/images/client-img1.png" class="aos-item" data-aos="fade-down" /></a>
                </div>

            </div>
            <div class="jtc-client-img">
                <a href="#"><img src="~/Content/Mobile/images/jtc-client-img1.png" width=100% class="client-img-opa aos-item" data-aos="flip-right" /></a>
                <a href="#"> <img src="~/Content/Mobile/images/play-button.svg" class="player-button" width=50 /></a>
                <p>Andy Gilbert<br><span class="ceo-jtc">CEO, JANSTRADING</span></p>
            </div>
            <div class="andy-text2">
                <img src="~/Content/Mobile/images/comma-left.svg" class="left-comma aos-item" data-aos="flip-down" />
                <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.<img src="~/Content/Mobile/images/comma-right.svg" class="right-comma aos-item" data-aos="flip-down" /></p>

            </div>
        </div>                                <!---jtc client andy gilbert start---->
    </main>

    <section class="we-belive-main">
        <div class="purple-main aos-item" data-aos="flip-right"></div>
        <div class="we-belive-text">
            <p class="aos-item" data-aos="fade-up">We believe a brand is much more than an identity. It’s a vision, a language, a story, a personality and a strategy.</p>
        </div>


        <div class="we-belive2-main">
            <!---we-belive 2 main start---->

            <div class="market-place1 aos-item" data-aos="fade-up">
                <img src="~/Content/Mobile/images/mp-img1.svg" />
                <div class="mp-text">
                    <h4>Market place</h4>
                    <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.</p>
                    <h5>CASE STUDY</h5>
                </div>
            </div>

            <div class="market-place1 aos-item" data-aos="fade-up">
                <img src="~/Content/Mobile/images/mp-img1.svg" />
                <div class="mp-text">
                    <h4>Market place</h4>
                    <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.</p>
                    <h5>CASE STUDY</h5>
                </div>
            </div>

            <div class="market-place1 aos-item" data-aos="fade-up">
                <img src="~/Content/Mobile/images/mp-img1.svg" />
                <div class="mp-text">
                    <h4>Market place</h4>
                    <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.</p>
                    <h5>CASE STUDY</h5>
                </div>
            </div>

            <div class="market-place1 aos-item" data-aos="fade-up">
                <img src="~/Content/Mobile/images/mp-img1.svg" />
                <div class="mp-text">
                    <h4>Market place</h4>
                    <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.</p>
                    <h5>CASE STUDY</h5>
                </div>
            </div>

            <div class="market-place1 aos-item" data-aos="fade-up">
                <img src="~/Content/Mobile/images/mp-img1.svg" />
                <div class="mp-text aos-item" data-aos="fade-up">
                    <h4>Market place</h4>
                    <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.</p>
                    <h5>CASE STUDY</h5>
                </div>
            </div>

            <div class="market-place1 aos-item" data-aos="fade-up">
                <img src="~/Content/Mobile/images/mp-img1.svg" />
                <div class="mp-text mb-mptext">
                    <h4>Market place</h4>
                    <p>I can’t say enough about how knowledgeable Toinette Rorie is in the area of Web Development. She indeed is a developer and can build a site from scratch.</p>
                    <h5>CASE STUDY</h5>
                </div>
            </div>


        </div>    <!---we-belive 2 main start---->

        <div class="we-write-1">
            <!----we write stuff start-->

            <div class="we-write-2">
                <div class="we-write-text">
                    <p class="aos-item" data-aos="fade-up">We write stuff to raise the bar & spread knowledge</p>
                </div>
                <div class="exper-main mb-expert aos-item" data-aos="fade-up">
                    <div class="buis-idea-1">
                        <p>USER EXPERIENCE</p>
                        <h4>How business ideas transform into a working product?</h4>
                    </div>
                    <div class="buis-idea-2">
                        <p><span class="span-5min">5 mins read</span><br>Looking for the best whiskey mixed drinks and recipes to create for …</p>
                        <h5><a href="">READ MORE</a></h5>
                    </div>
                </div>
                <div class="exper-main aos-item" data-aos="fade-up">
                    <div class="buis-idea-1">
                        <p>USER EXPERIENCE</p>
                        <h4>How business ideas transform into a working product?</h4>
                    </div>
                    <div class="buis-idea-2">
                        <p><span class="span-5min">5 mins read</span><br>Looking for the best whiskey mixed drinks and recipes to create for …</p>
                        <h5 class="mb-buis"><a href="">READ MORE</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/mobile_Footer.cshtml")
    @*<?php include("common/footer.php"); ?>*@ <!---footer php file ----->
    @*<script src="js/custom.js" type="text/javascript"></script>*@
    <script src="~/../../Content/Mobile/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $(".imgdown").on("click", function () {
                $(this).parent().find(".pcontent").removeClass("hide");
                $(this).parent().find(".pcontent").addClass("display_content");
                $(this).parent().find(".imgup").addClass("display_content");
                $(this).parent().find(".imgup").removeClass("hide");
                $(this).addClass("hide");
            });
            $(".imgup").on("click", function () {
                $(this).parent().find(".pcontent").removeClass("display_content");
                $(this).parent().find(".pcontent").addClass("hide");
                $(this).parent().find(".imgdown").addClass("display_content");
                $(this).parent().find(".imgdown").removeClass("hide");
                $(this).addClass("hide");
            });
        });
    </script>
    @*<script src="dist/aos.js"></script>*@
    <script src="~/../../Content/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>

</body>
</html>
