@{
    ViewBag.Title = "About";
}

<section class="case_study_page_wrp">
    <!-- start worldwide root -->
    <section class="container">
        <section>
            <ul class="bread_crumbs aos-item" data-aos="fade-up">
                <li style="margin-right: 5px;"><a href="@Url.Action("Index","Home")">HOME </a></li>
                <li><span class="activated">/ ABOUT US</span></li>
            </ul>
        </section>
        <article class="about_banner">
            <!--container start-->
            <h1>
                Move Beyond IT<br />
                Join The Rebellious, Creative Clan
            </h1>
        </article>
        <!-- start project section -->

        <section class="about-list_wrapper aos-item" data-aos="fade-up">
            <div class="about_cmpy_wdth">
                <a href=""><img src="~/Content/Images/it_1.png" alt="image"></a>
            </div>
            <div class="about_cmpy_wdth">
                <a href=""><img src="~/Content/Images/it_2.png" alt="image"></a>
            </div>
            <div class="about_cmpy_wdth">
                <a href=""><img src="~/Content/Images/it_3.png" alt="image"></a>
            </div>
            <div class="about_cmpy_wdth">
                <a href=""><img src="~/Content/Images/it_4.png" alt="image"></a>
            </div>
        </section>
        <section class="it_cmpy_list">
            <!-- explore start -->

            <ul>
                <li class="aos-item" data-aos="fade-up">
                    <h1>01</h1>
                    <div>
                        <h3>Thinkers</h3>
                        <p>We are the thinking lot. A design is not just a logo, it is a thought; a seed for imagination.</p>
                    </div>
                </li>
                <li class="btm_brder"></li>
                <li class="aos-item" data-aos="fade-up">
                    <h1>02</h1>
                    <div>
                        <h3>Creators</h3>
                        <p>We enjoy creating. We love all our creations and it shows in our resilience to excel at what we do.</p>
                    </div>
                </li>
                <li class="btm_brder"></li>
                <li class="aos-item" data-aos="fade-up">
                    <h1>03</h1>
                    <div>
                        <h3>Innovators</h3>
                        <p>Tech-driven factual research is at the center of each of our innovations and pioneering designs and projects.</p>
                    </div>
                </li>
            </ul>

        </section>
    </section>
    <!-- worldwide root end here -->

    <section class="abt_business_wrapper aos-item" data-aos="fade-up">
        <!--BUSINESS ANALYST-->
        <section class="container">
            <!--container start-->
            <section>
                <section class="abt_business_analyst">
                    <h3>We Deliver Brilliance<br> Whether It’s A Startup Or Fortune 500 Enterprise</h3>
                </section>
            </section>
            <section class="business_emp_section">
                <ul class="business_emp_list">
                    <li class="thumb  zigzag1"><a href=""><img src="~/Content/Images/employee_1.png" alt="image"><span class="come-right"><h3>neha kohli</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag2"><a href=""><img src="~/Content/Images/employee_2.png" alt="image"><span class="come-right"><h3>keshav Rohilla</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag3"><a href=""><img src="~/Content/Images/employee_3.png" alt="image"><span class="come-right"><h3>neha dhiman</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag4"><a href=""><img src="~/Content/Images/employee_4.png" alt="image"><span class="come-right"><h3>vishal chaudhary</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag5"><a href=""><img src="~/Content/Images/employee_5.png" alt="image"><span class="come-right"><h3>Aman saklani</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag6"><a href=""><img src="~/Content/Images/employee_6.png" alt="image"><span class="come-right"><h3>sagar dogra</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag7"><a href=""><img src="~/Content/Images/employee_7.png" alt="image"><span class="come-right"><h3>vikas mehta</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag8"><a href=""><img src="~/Content/Images/employee_8.png" alt="image"><span class="come-right"><h3>monika banga</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag9"><a href=""><img src="~/Content/Images/employee_9.png" alt="image"><span class="come-right"><h3>navneet</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag10"><a href=""><img src="~/Content/Images/employee_10.png" alt="image"><span class="come-right"><h3>yogesh sharma</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag11"><a href=""><img src="~/Content/Images/employee_11.png" alt="image"><span class="come-right"><h3>amulya</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag12"><a href=""><img src="~/Content/Images/employee_12.png" alt="image"><span class="come-right"><h3>Gurvinder Singh</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>
                    <li class="thumb  zigzag13"><a href=""><img src="~/Content/Images/employee_13.png" alt="image"><span class="come-right"><h3>Puneet</h3><h6>BUSINESS ANALYST</h6><p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p></span></a></li>

                </ul>


            </section>


        </section><!--container end-->
        @*</main><!--end BUSINESS ANALYST-->*@


    </section>

    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>
