
@{
    ViewBag.Title = "Blog_Detail";
}
<section class="chilli_wraper">

    <main class="container">
        <!--container start-->
        <section class="blog_development">
            <p>DEVELOPMENT</p>
            <!-- <ul class="bread_crumbs">
                <li><a href="index.html">HOME</a></li>
                <li><a href="events.html" class="activated"> /  FAQ</a></li>
            </ul> -->
        </section>
        <!-- start blog_banner -->
        <article class="blog_banner">
            <h1>If You Don’t Know What <br> You Want, This Is For You</h1>
            <h5>5 mins read</h5>

            <h2><img src="~/Content/Images/blog_details.png"></h2>
        </article><!-- end blog_banner-->
        <div class="clearfix"></div>
        <!--start blog social media section-->
        <section class="blog_social_media_section">
            <ul class="social-elite ">
                <li class="aos-item" data-aos="fade-up"><a href="">Linkedin </a></li>
                <li class="aos-item" data-aos="fade-up"><a href="">Instagram</a></li>
                <li class="aos-item" data-aos="fade-up"><a href=""> Facebook</a></li>

            </ul>
            <section class="blog_social_list aos-item" data-aos="fade-up">


                <h2>
                    Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held your palm over a candle’s flame and started feeling the burn? The “laws of UX” are similar — they are cause and effect relationships where one event (the cause) makes another event happen (the effect). Whether a designer acknowledges them or not, the “laws” rule and operate — and will affect the effectiveness of a design.<span>
                        Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.

                    </span><span>Ignoring Miller’s Law can have negative consequences that may impede the UX, i.e., if there are too many things people have to remember, it could cause frustration and decision paralysis.</span>
                </h2>



            </section>
            <!--start blog activity section-->
            <section class="blog_activity_wrapper">
                <h2><img src="~/Content/Images/blog_activity.png" class="aos-item" data-aos="fade-up" /></h2>

                <h3 class="aos-item" data-aos="fade-up">
                    Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held your palm over a candle’s flame and started feeling the burn? The “laws of UX” are similar — they are cause and effect relationships where one event (the cause) makes another event happen (the effect). Whether a designer acknowledges them or not, the “laws” rule and operate — and will affect the effectiveness of a design.<span class="aos-item" data-aos="fade-up">
                        Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.

                    </span><span class="aos-item" data-aos="fade-up">Ignoring Miller’s Law can have negative consequences that may impede the UX, i.e., if there are too many things people have to remember, it could cause frustration and decision paralysis.</span>
                </h3>
            </section>
            <!--end blog activity section-->
        </section>

        <!--end blog social media section-->



    </main> <!--container start-->
    <!--start blog stuff section-->
    <section class="blog_stuff_wrapper aos-item" data-aos="fade-up">
        <main class="container">
            <h4>More Stuff To Read</h4>
            <section class="blog_stuff_section">
                <section class="blog_stuff_first">
                    <img src="~/Content/Images/blog_stuff.png">
                    <p>DEVELOPMENT</p>
                    <h1>If You Don’t Know What You<br> Want, This Is For You</h1>
                    <h3>5 mins read</h3>
                    <h5>Looking for the best whiskey mixed drinks and recipes to create for …</h5>

                </section>

                <section class="blog_stuff_second">
                    <img src="~/Content/Images/blog_stuff.png">
                    <p>DEVELOPMENT</p>
                    <h1>If You Don’t Know What You<br> Want, This Is For You</h1>
                    <h3>5 mins read</h3>
                    <h5>Looking for the best whiskey mixed drinks and recipes to create for …</h5>
                </section>

                <section class="blog_stuff_third">
                    <img src="~/Content/Images/blog_stuff.png">
                    <p>DEVELOPMENT</p>
                    <h1>If You Don’t Know What You<br> Want, This Is For You</h1>
                    <h3>5 mins read</h3>
                    <h5>Looking for the best whiskey mixed drinks and recipes to create for …</h5>
                </section>




            </section>




        </main>


    </section>
    <!--end blog stuff section-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")

</section>