
@{
    ViewBag.Title = "CaseStudy";
}
<section class="case_study_page_wrp">
    <!-- start worldwide root -->
    <main class="container">
        <article class="case_study_banner">
            <!--container start-->
            <h1>Connecting the religious <br>gurus worldwide to roots</h1>
        </article>
    </main>
    <!-- worldwide root end here -->
    <main class="container">
        <!-- start Technolgies section -->
        <section class="client_ideas">
            <section class="row">
                <section class="col-lg-12">
                    <section class="client_industry">

                        <p>CLIENT</p>
                        <h1>Apne Guru</h1>
                        <section class="client_spc_industry"></section>

                        <p>INDUSTRY</p>
                        <h1>Automotive</h1>

                    </section>

                    <section class="client_technologies">
                        <p>TECHNOLOGIES</p>
                        <ul>
                            <li>Bootstrap</li>
                            <li>jQuery </li>
                            <li>PHP</li>
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>PHP</li>
                        </ul>
                        <section class="client_spc_technologies"></section>

                        <p>OUR ROLE</p>
                        <ul>
                            <li>Branding</li>
                            <li>User</li>
                            <li>interface</li>
                            <li>User</li>
                            <li>Experience</li>
                            <li>Branding</li>
                            <li>User</li>
                            <li>interface</li>
                            <li> User</li>
                            <li> Experience</li>
                        </ul>
                    </section>
                </section> <!-- end 12 -->
            </section><!-- end row-->
        </section><!-- Technolgies section ends here -->
        <!-- Image section start-->
        <section class="case_study_image">
            <img class="aos-item" data-aos="fade-up" src="~/Content/Images/desktp-casestudy-ag.png">


        </section><!-- Image section end-->
    </main>  <!--container end-->
    <!--background section start-->
    <main class="container">
        <section class="background_wrapper">
            <section class="background_left_section sidebar-elite sticky aos-item" data-aos="fade-right">

                <ul>
                    <li><a href="" id="bacckground-s">Background</a></li>
                    <li><a href="" id="problem-s">Problem</a></li>
                    <li><a href="" id="challange-s">Challenge</a></li>
                    <li> <a href="" id="solution-s">Solution</a></li>
                    <li><a href="" id="result-s">Result</a></li>
                </ul>
            </section>
            <div class="elite_right_side">
                <section class="background_right_section aos-item" data-aos="fade-left" id="background-case-study">

                    <h1>Background</h1>
                    <h2>
                        In this section of the case study you’ll provide a high-level summary of your approach, make the stages of the
                        work explicit and state the reasons why, out of a universe of possible approaches, you chose this one.<span>
                            Useful action words you can include here include: accomplished, administered, carried out, carried through,
                            completed, concluded, delivered, enacted, executed, finished, fulfilled, managed, negotiated, obtained, operated,
                            optimised, perfected, performed, procured, produced, reached, realised,  resolved, solved. In a story, this
                            phase is known as the quest. Describe the work in a maximum of 100 words.
                        </span>
                    </h2>

                    <section class="background_img_link">
                        <img src="~/Content/Images/trip_planner.png">
                    </section>

                </section>
                <section class="background_right_section aos-item" data-aos="fade-left" common-r-side" id="problem-case-study">

                    <h1>Problem</h1>
                    <h2>
                        In this section of the case study you’ll provide a high-level summary of your approach, make the stages of the
                        work explicit and state the reasons why, out of a universe of possible approaches, you chose this one.<span>
                            Useful action words you can include here include: accomplished, administered, carried out, carried through,
                            completed, concluded, delivered, enacted, executed, finished, fulfilled, managed, negotiated, obtained, operated,
                            optimised, perfected, performed, procured, produced, reached, realised,  resolved, solved. In a story, this
                            phase is known as the quest. Describe the work in a maximum of 100 words.
                        </span>
                    </h2>

                    <section class="background_img_link">
                        <img src="~/Content/Images/trip_planner.png">
                    </section>

                </section>
                <section class="background_right_section aos-item" data-aos="fade-left" common-r-side" id="challange-case-study">

                    <h1>Challenge</h1>
                    <h2>
                        In this section of the case study you’ll provide a high-level summary of your approach, make the stages of the
                        work explicit and state the reasons why, out of a universe of possible approaches, you chose this one.<span>
                            Useful action words you can include here include: accomplished, administered, carried out, carried through,
                            completed, concluded, delivered, enacted, executed, finished, fulfilled, managed, negotiated, obtained, operated,
                            optimised, perfected, performed, procured, produced, reached, realised,  resolved, solved. In a story, this
                            phase is known as the quest. Describe the work in a maximum of 100 words.
                        </span>
                    </h2>

                    <section class="background_img_link">
                        <img src="~/Content/Images/trip_planner.png">
                    </section>

                </section>
                <section class="background_right_section aos-item" data-aos="fade-left" common-r-side" id="solution-case-study">

                    <h1>Solution</h1>
                    <h2>
                        In this section of the case study you’ll provide a high-level summary of your approach, make the stages of the
                        work explicit and state the reasons why, out of a universe of possible approaches, you chose this one.<span>
                            Useful action words you can include here include: accomplished, administered, carried out, carried through,
                            completed, concluded, delivered, enacted, executed, finished, fulfilled, managed, negotiated, obtained, operated,
                            optimised, perfected, performed, procured, produced, reached, realised,  resolved, solved. In a story, this
                            phase is known as the quest. Describe the work in a maximum of 100 words.
                        </span>
                    </h2>

                    <section class="background_img_link">
                        <img src="~/Content/Images/trip_planner.png">
                    </section>

                </section>
                <section class="background_right_section aos-item" data-aos="fade-left" common-r-side" id="result-case-study">

                    <h1>Result</h1>
                    <h2>
                        In this section of the case study you’ll provide a high-level summary of your approach, make the stages of the
                        work explicit and state the reasons why, out of a universe of possible approaches, you chose this one.<span>
                            Useful action words you can include here include: accomplished, administered, carried out, carried through,
                            completed, concluded, delivered, enacted, executed, finished, fulfilled, managed, negotiated, obtained, operated,
                            optimised, perfected, performed, procured, produced, reached, realised,  resolved, solved. In a story, this
                            phase is known as the quest. Describe the work in a maximum of 100 words.
                        </span>
                    </h2>

                    <section class="background_img_link">
                        <img src="~/Content/Images/trip_planner.png">
                    </section>

                </section>

            </div>
        </section>
    </main>
    <div class="sticky-stopper spc_t100"></div>
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>