
@{
    ViewBag.Title = "Chili";
}
<section class="chilli_wraper">

    <main class="container">
        <!--container start-->
        <section>
            <ul class="bread_crumbs aos-item" data-aos="fade-up">
                <li style="margin-right: 5px;"><a href="@Url.Action("Index","Home")">HOME </a></li>
                <li><span class="activated">/ CHILLI PUBLISH</span></li>
            </ul>
        </section>
        <!-- start chilli banner -->
        <article class="chilli_banner">
            <a href=""><img src="~/Content/Images/chilli-logo.png"></a>
            <h1>Expert Chilli Publisher Support to<br /> Simplify your Marketing Collateral<br /> and Artwork </h1>
        </article><!-- end chilli banner-->
        <!--start graphic process-->
        <section class="graphic_process aos-item" data-aos="fade-right">
            <h3>As Chilli publisher promises to simplify as well as automate graphic processes across verticals, Elite<br /> Web Technologies’ expert team helps you figure it out and make the best of Chili.</h3>

        </section>
        <section class="graphic_process_list">
            <ul>
                <li class="aos-item" data-aos="fade-up">
                    <h2>01</h2>
                    <div class="graphic_process_wdth">
                        <h1>For Commercial Use</h1>
                        <p>Do you own a business that helps customers with their eCommerce? Then Cili is one of the best <a>B2B solutions</a> that can work B2C for you. We can help you with design through smart templates that can be seamlessly integrated with existing stores and workflows. We can help your users get the best of user experience in design and printing through Chilli. It can actually help you create multiple experiences for multiple customers with no herculean processes that are a hallmark of traditional design. We can help you scale quickly.</p>
                        <h4>Learn More<span><a href=""><img src="~/Content/Images/learn_icon.svg" class="aos-item" data-aos="fade-right" /></a></span></h4>
                    </div>
                    <h3 class="graphic_commercial_print">
                        <a href=""><img src="~/Content/Images/Comerial-print.png" alt="abc" class="graphic_commercial_img"></a>
                    </h3>
                </li>

                <li class="graphic_process_list_border"></li>

                <li class="aos-item" data-aos="fade-up">
                    <h2>02</h2>
                    <div class="graphic_process_wdth">
                        <h1>For Labels & Packaging with Chilli Graphics</h1>
                        <p>Labeling & packaging may seem to be a simple set of tasks but it actually raises costs that can raise eyebrows. When you have smart packaging label template that you need to just pick and use, things are easier and cheaper than ever. We can support you in getting that process right, ensuring that you are adept at it so as to eliminate any human error whatsoever. You can rely on us for defining industry’s best rules and regulations for design, so that you can head smoothly and economically. </p>
                        <h4>Learn More<span><a href=""><img src="~/Content/Images/learn_icon.svg" class="aos-item" data-aos="fade-right" /></a></span></h4>
                    </div>
                    <h3 class="graphic_brands">
                        <a href="">
                            <img src="~/Content/Images/brand-1.png" alt="abc" class="graphic_brands_1_img">
                            <a href=""><img src="~/Content/Images/brand-2.png" alt="abc" class="graphic_brands_2_img"></a>
                    </h3>
                </li>

                <li class="graphic_process_list_border"></li>

                <li class="aos-item" data-aos="fade-up">
                    <h2>03</h2>
                    <div class="graphic_process_wdth">
                        <h1>For Branding</h1>
                        <p>Brands need to be consistent when it comes to their image. Be it marketing collateral or official documents, or brochures, smart templates will help speak in a voice that’s consistent with the brand images. It not only helps you build your brand, but also strike the right chord every time without having to make expenses every time in terms of time, money, and effort. That also gives you the advantage of faster time to market. Be brand smart; let us help you with Chili web in branding yourself.</p>
                        <h4>Learn More<span><a href=""><img src="~/Content/Images/learn_icon.svg" class="aos-item" data-aos="fade-right" /></a></span></h4>
                    </div>
                    <h3 class="graphic_agencies">
                        <a href=""><img src="~/Content/Images/Packaging.png" alt="abc" class="graphic_agencies_img"></a>
                    </h3>
                </li>

                <li class="graphic_process_list_border"></li>

                <li class="aos-item" data-aos="fade-up">
                    <h2>04</h2>
                    <div class="graphic_process_wdth">
                        <h1>For Agencies</h1>
                        <p>If you are print agency, smart templates can not only be your saving grace every time a customer needs a quick turn around, but also your constant source of revenue. It enables you to carry out graphic design and/or print at scale, eliminating superfluous costs, time consuming repetitive processes, and be ahead of competitors, and even disrupt the market. You can become the print service provider/collateral provider of your clients’ choice without having to invest each time you design. We support you in getting Chili printing right. </p>
                        <h4>Learn More<span><a href=""><img src="~/Content/Images/learn_icon.svg" class="aos-item" data-aos="fade-right" /></a></span></h4>
                    </div>
                    <h3 class="graphic_packaging">
                        <a href=""><img src="~/Content/Images/Packaging.png" alt="abc" class="graphic_packaging_img"></a>
                    </h3>
                </li>
            </ul>
        </section>  <!--end graphic process-->


        <section class="chilli_simplify">
            <!-- video start -->
            <h2 class="aos-item" data-aos="fade-up">Artwork Creation For The New Age <br>Automate Marketing Across Verticals</h2>

            <a href="#" class="chilli_client aos-item" data-aos="fade-up">
                <img src="~/Content/Images/desktp-chilli-img.png" alt="Notebook" style="width:100%;" />
                <span> <img src="~/Content/Images/movie-player-play-button.svg" alt="Notebook"></span>

            </a>
        </section><!-- video end -->
        <!--start What we can do for you?-->

        <section class="chilli_template">
            <h1 class="aos-item" data-aos="fade-up">What we can do for you?</h1>

            <section class="chilli_temp_box">
                <section class="chilli_left_box aos-item" data-aos="fade-up">
                    <h2><img src="~/Content/Images/icon_1.svg"></h2>
                    <h3>
                        Our customer-centrism enables us to use Chili publisher to your unique requirements.
                    </h3>
                </section>
                <section class="chilli_right_box aos-item" data-aos="fade-up">
                    <h2><img src="~/Content/Images/icon_2.svg"></h2>
                    <h3>
                        Years of experience working with Chili is a guarantee that you have the best support.
                    </h3>
                </section>

                <section class="chilli_left_box aos-item" data-aos="fade-up">
                    <h2><img src="~/Content/Images/icon_3.svg"></h2>
                    <h3>We being industry agnostic, understand that every industry has its needs and quirks. </h3>
                </section>
                <section class="chilli_right_box aos-item" data-aos="fade-up">
                    <h2><img src="~/Content/Images/icon_4.svg"></h2>
                    <h3>Technology is our forte. So, our experience in Chili publisher comes with an advantage. </h3>
                </section>

            </section>

            <!--end What we can do for you?-->

    </main> <!--container start-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")


</section>