
@{
    ViewBag.Title = "faq";
}
<section class="case_study_page_wrp">
    <!-- start worldwide root -->


    <main class="container">
        <section>

            <ul class="bread_crumbs">
                <li style="margin-right: 5px;"><a href="@Url.Action("Index","Home")">HOME </a></li>
                <li><span class="activated">/ FAQ</span></li>
            </ul>
        </section>
        <article class="service_page_bnnr service_btm">
            <!--container start-->
            <h1>Got Queries? Don't worry <br> We'll answer them all</h1>
        </article>
    </main>
    <!-- worldwide root end here -->
    <main class="container">
        <!-- faq start -->

        <section class="filter_categry">
            <h5 class="aos-item" data-aos="fade-up">Filter by Category</h5>

            <ul class="filter_proces ">
                <!-- ul start -->
                <li class="aos-item" data-aos="fade-right"><a href="#">PROCESS</a></li>
                <li class="aos-item" data-aos="fade-up"><a href="#" class="activated">CAREERS</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">TEAM</a></li>
            </ul> <!-- ul end -->
        </section>

        <section class="filter_web_team">
            <ul>
                <!-- ul start -->
                <li class="aos-item" data-aos="fade-up">
                    <h2>What qualifications do I need to be a part of Elite Web <br> Technologies team?</h2>
                    <p>You do not need any qualifications as per se. But a good knowledge of design principles and tools along with a design portfolio would suffice.</p>
                </li>
                <li class="filter_btm"></li>

                <li class="aos-item" data-aos="fade-up">
                    <h2>What qualifications do I need to be a part of Elite Web <br> Technologies team?</h2>
                    <p>You do not need any qualifications as per se. But a good knowledge of design principles and tools along with a design portfolio would suffice.</p>
                </li>
                <li class="filter_btm"></li>
                <li class="aos-item" data-aos="fade-up">
                    <h2>What qualifications do I need to be a part of Elite Web <br> Technologies team?</h2>
                    <p>You do not need any qualifications as per se. But a good knowledge of design principles and tools along with a design portfolio would suffice.</p>
                </li>
                <li class="filter_btm"></li>
                <li class="aos-item" data-aos="fade-up">
                    <h2>What qualifications do I need to be a part of Elite Web <br> Technologies team?</h2>
                    <p>You do not need any qualifications as per se. But a good knowledge of design principles and tools along with a design portfolio would suffice.</p>
                </li>
                <li class="filter_btm"></li>
                <li class=" class="aos-item" data-aos="fade-up">
                    <h2>What qualifications do I need to be a part of Elite Web <br> Technologies team?</h2>
                    <p>You do not need any qualifications as per se. But a good knowledge of design principles and tools along with a design portfolio would suffice.</p>
                </li>
            </ul> <!-- ul end -->
        </section>

        <section class="filter_can_find aos-item" data-aos="fade-up">
            <h2>Can't find your query?</h2>
            <p>Kindly, mail us the query and we'll get back to you. <br> <a href="#">support@elitewebtechnologies.com</a></p>
        </section>
    </main><!-- faq end -->
    <!--container end-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>