@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Elite Web Technologies</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    @*<link href="~/Content/css/animate.css" rel="stylesheet">*@
    <!-- Owl Stylesheets -->
    <link href="~/Content/plugin/owl/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/plugin/owl/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="plugin/owl/assets/owlcarousel/assets/owl.carousel.min.css">*@
    @*<link rel="stylesheet" href="plugin/owl/assets/owlcarousel/assets/owl.theme.default.min.css">*@
    <link href="~/Content/dist/aos.css" rel="stylesheet" />
    @*<link href="dist/aos.css" rel="stylesheet">*@
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body class="aos-all">
    <div class='cursor'></div>
    <div class="elite_screen  animated"></div>
    @Html.Partial("~/Views/Shared/elite_menue.cshtml")
    <div class="section_wrapper">
        <div id="panel1" class="panel">
            <div id="home_wrp">
                @Html.Partial("~/Views/Shared/header.cshtml")
                <div class="clearfix"></div>
                <!-- We are section starts here -->
                <main class="container elite_role aos-item" data-aos="fade-up" id="elite_web_slide">
                    <article class="banner-wrp">
                        <!--container start-->
                        <h4>We</h4>
                        <h1>
                            <span class="first-heading-wrp"><span class="first-heading">Design</span>,@*<span class="first-heading-img-wrp"><img src="~/Content/Images/design.png" alt="design-image" class="first-heading-img"></span>*@</span> <span class="first-heading-wrp"><span class="first-heading">Simplify</span>,@*<span class="first-heading-img-wrp"><img src="~/Content/Images/simplify.png" class="first-heading-img" alt="image"></span>*@</span>
                            <span class="first-heading-wrp"><span class="first-heading">Optimize</span>,@*<span class="first-heading-img-wrp"><img src="~/Content/Images/optimize.png" alt="optimize-image" class="first-heading-img"></span>*@</span>
                            <br />
                            <span class="first-heading-wrp">
                                <span class="first-heading">
                                    & Consistently Work Towards Innovation
                                </span>,@*<span class="first-heading-img-wrp"><img src="~/Content/Images/innovation.png" alt="image" class="first-heading-img"></span>*@
                            </span>
                        </h1>
                    </article>
                </main>
            </div>
            <!--we are section end here -->
        </div>

        <div id="panel2" class="panel">
            <div id="brilliant_ideas_1">
                <div class="container">
                    <!-- Brilliant idea section starts here -->
                    <section class="brilliant-ideas elite_role aos-item" data-aos="fade-up" id="brilliant-ideas">
                        <h3>
                            From Small Startups To Fortune 500 Companies,<br>
                            Every Enterprise Relies On Our Expertise & Brilliance
                        </h3>
                        <section class="row">
                            <ul class="col-lg-12">
                                <li class="client-area">
                                    <img src="~/Content/Images/davioff.png" alt="davidoff-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/standard_char.png" alt="standard-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/audi.png" alt="audi-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/mcfree.png" alt="mcfree-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/johnson.png" alt="jhinson-image">
                                </li><!-- client logo ends here -->
                            </ul> <!--end col-lg-12-->
                            <ul class="col-lg-12">
                                <li class="client-area">
                                    <img src="~/Content/Images/ap.png" alt="ap-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/JTC.png" alt="jtc-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/tytix.png" alt="tytix-image">
                                </li><!-- client logo ends here -->

                                <li class="client-area">
                                    <img src="~/Content/Images/zafety.png" alt="zaftey-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/brad.png" alt="brad-image">
                                </li><!-- client logo ends here -->
                            </ul>
                            <ul class="col-lg-12">
                                <li class="client-area">
                                    <img src="~/Content/Images/qisj.png" alt="qisij-image">
                                </li><!-- client logo ends here -->

                                <li class="client-area">
                                    <img src="~/Content/Images/high-field.png" alt="high-feild-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/moter_tracer.png" alt="motor-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/cityin_fomart.png" alt="city-format-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/coupon.png" alt="coupon-image">
                                </li><!-- client logo ends here -->
                            </ul>
                            <ul class="col-lg-12">
                                <li class="client-area">
                                    <img src="~/Content/Images/dot_it.png" alt="do-it-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/mada.png" alt="mada-imae">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/make_invoice.png" alt="make-invoice-image">
                                </li><!-- client logo ends here -->
                                <li class="client-area">
                                    <img src="~/Content/Images/origin.png" alt="origin-image">
                                </li><!-- client logo ends here -->
                            </ul> <!--end col-lg-12-->
                            <section class="col-lg-12 view_all">
                                @*<h4>
                                    <a href="#">VIEW ALL</a>
                                </h4>*@
                                <div>
                                </div>
                            </section> <!-- end 12 -->
                        </section><!-- end row-->
                    </section><!-- Brilliant idea section ends here -->
                    <!-- Case Study start-->
                </div>
            </div>
        </div>  <!--container end-->

        <div id="panel3" class="panel">

            <div id="case_study_wrp_1">
                <div id="case_study_wrp" class="aos-item" data-aos="fade-up">
                    <div>
                        <div>
                            <section class="container">
                                <ul class="slide_ul owl-carousel owl-theme">
                                    <li class="slide_m_l1">
                                        <div class="item f_itm pull-left">
                                            <div class="container">
                                                <section class="case_feature elite-slider-1 fadeInRightBig animated">
                                                    <div>
                                                        <section class="case_study_left">
                                                            <h3>JANSTRADING 1</h3>
                                                            <p>Tradeship</p>
                                                            <ul>
                                                                <li>Consultation</li>
                                                                <li>User Experience</li>
                                                                <li>Front End</li>
                                                                <li>Backend</li>
                                                                <li>Testing</li>
                                                            </ul>
                                                        </section>
                                                        <section class="case_study_right">
                                                            <a href="#" class="case_study_link"><img src="~/Content/Images/desktop-img-jtc.png" alt="image"></a>
                                                        </section>
                                                        <section class="case_study_footer">
                                                            <section class="project_link">
                                                                <h1>Online sale purchse of <br>used vehicles worldwide</h1>
                                                            </section>
                                                            <span class="case_study_target_point"><a href=""><img src="~/Content/Images/right_arrow.svg" alt="image"></a></span>
                                                        </section>
                                                    </div>
                                                </section><!-- Case Study end-->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="slide_m_l2">
                                        <div class="item f_itm pull-left">
                                            <div class="container">
                                                <section class="case_feature elite-slider-1 fadeInRightBig animated">
                                                    <div>
                                                        <section class="case_study_left">
                                                            <h3>JANSTRADING 1</h3>
                                                            <p>Tradeship</p>
                                                            <ul>
                                                                <li>Consultation</li>
                                                                <li>User Experience</li>
                                                                <li>Front End</li>
                                                                <li>Backend</li>
                                                                <li>Testing</li>
                                                            </ul>
                                                        </section>
                                                        <section class="case_study_right">
                                                            <a href="#" class="case_study_link"><img src="~/Content/Images/desktop-ag-img.png" alt="image"></a>
                                                        </section>
                                                        <section class="case_study_footer">
                                                            <section class="project_link">
                                                                <h1>Online sale purchse of <br>used vehicles worldwide</h1>
                                                            </section>
                                                            <span class="case_study_target_point"><a href=""><img src="~/Content/Images/right_arrow.svg" alt="image"> </a></span>
                                                        </section>
                                                    </div>
                                                </section><!-- Case Study end-->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="slide_m_l2">
                                        <div class="item f_itm pull-left">
                                            <div class="container">
                                                <section class="case_feature elite-slider-1 fadeInRightBig animated">
                                                    <div>
                                                        <section class="case_study_left">
                                                            <h3>JANSTRADING 1</h3>
                                                            <p>Tradeship</p>
                                                            <ul>
                                                                <li>Consultation</li>
                                                                <li>User Experience</li>
                                                                <li>Front End</li>
                                                                <li>Backend</li>
                                                                <li>Testing</li>
                                                            </ul>
                                                        </section>
                                                        <section class="case_study_right">
                                                            <a href="#" class="case_study_link"><img src="~/Content/Images/desktop-ag-order.png" alt="image"></a>
                                                        </section>
                                                        <section class="case_study_footer">
                                                            <section class="project_link">
                                                                <h1>Online sale purchse of <br>used vehicles worldwide</h1>
                                                            </section>
                                                            <span class="case_study_target_point"><a href=""><img src="~/Content/Images/right_arrow.svg" alt="image"></a></span>
                                                        </section>
                                                    </div>
                                                </section><!-- Case Study end-->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="slide_m_l2">
                                        <div class="item f_itm pull-left">
                                            <div class="container">
                                                <section class="case_feature elite-slider-1 fadeInRightBig animated">
                                                    <div>
                                                        <section class="case_study_left">
                                                            <h3>JANSTRADING 1</h3>
                                                            <p>Tradeship</p>
                                                            <ul>
                                                                <li>Consultation</li>
                                                                <li>User Experience</li>
                                                                <li>Front End</li>
                                                                <li>Backend</li>
                                                                <li>Testing</li>
                                                            </ul>
                                                        </section>
                                                        <section class="case_study_right">
                                                            <a href="#" class="case_study_link"><img src="~/Content/Images/desktop-ag-order.png" alt="image"></a>
                                                        </section>
                                                        <section class="case_study_footer">
                                                            <section class="project_link">
                                                                <h1>Online sale purchse of <br>used vehicles worldwide</h1>
                                                            </section>
                                                            <span class="case_study_target_point"><a href=""><img src="~/Content/Images/right_arrow.svg" alt="image"></a></span>
                                                        </section>
                                                    </div>
                                                </section><!-- Case Study end-->
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Clients Feedback Starts Here -->
        <div id="panel4" class="panel">
            <div class="clients_feedbacks_bc">
                <div class="container">
                    <div id="clients_wrp">
                        <section class="clients_feedback aos-item" data-aos="fade-up" id="clients_feedback">
                            <h3>
                                Have A Look At What Our Most <br> Coveted Clients Have To Say About Us
                            </h3>
                            <section class="clients_feedback_left">
                                <img src="~/Content/Images/start_cumma.svg" class="clients_commas_left_img" alt="image">
                                <h2>
                                    "Associating with Elite Web <br>Technologies was one of the <br>
                                    finest decisions that I ever <br>made. They are highly self <br>motivated and the solutions <br>they come up with almost <br>overnight are not only unique <br>to my needs but also cost <br>effective."
                                </h2>
                                <ul class="client_images">
                                    <li class="active"><a href="#"><img src="~/Content/Images/client-1.png" alt="image"> </a></li>
                                    <li><a href="#"><img src="~/Content/Images/client-2.png" alt="image"></a></li>
                                    <li><a href="#"><img src="~/Content/Images/client-3.png" alt="image"></a></li>
                                    <li><a href="#"><img src="~/Content/Images/client-4.png" alt="image"></a></li>
                                </ul>

                            </section>
                            <section class="clients_feedback_right ">
                                <a href="#" class="clients_feedback_link">
                                    <img src="~/Content/Images/client_feedback.png" alt="Notebook" style="width:100%;">
                                    <span> <img src="~/Content/Images/movie-player-play-button.svg" alt="Notebook"></span>
                                </a>
                                <section class="content">
                                    <h1>Andy Gilbert </h1>
                                    <p> CEO, JANSTRADING</p>
                                </section>
                                <section><img src="~/Content/Images/end_cumma.svg" class="client_commas_right_img" alt="image"></section>
                            </section>



                        </section>
                    </div>
                    <!-- Clients Feedback Ends Here -->
                </div>
            </div>
        </div>
        <div id="panel5" class="panel">
            <section class="markit_place_bg_section aos-item" data-aos="fade-up">
                <div id="market_place">
                    <section class="container">
                        <section class="home_wrapper_content">
                            <h1>A brand is not just a logo or a name printed on the back of a t-shirt.It is your story and the result of your toil and struggles and we understand that.</h1>
                        </section>
                    </section>

                    <section class="markit_place_inner_section">
                        <section class="markit_place_section"></section>
                        <section class="container">
                            <section class="markit_place_wrapper">
                                <section class="markit_place_content_left">
                                    <section>
                                        <a href=""><img src="~/Content/Images/markit_place.svg" alt="image"></a>
                                        <h1>
                                            Retail and E-Commerce
                                        </h1>
                                        @*<h2>Our unmoved resolve and complete trust in our belief system has led to the success of Elite Web Technologies. We respect your vision and hold your brand in the highest regard.</h2>*@
                                        <h3>CASE STUDY</h3>

                                    </section>
                                    <div class="clearfix"></div>
                                    <section>
                                        <a href=""><img src="~/Content/Images/markit_place.svg" alt="image"></a>
                                        <h1>Sports and Entertainment</h1>
                                        @*<h2>We understand what your product or service is worth to you, and strive to live up to your expectations every time.</h2>*@
                                        <h3>CASE STUDY</h3>

                                    </section>
                                    <div class="clearfix"></div>
                                    <section>
                                        <a href=""><img src="~/Content/Images/markit_place.svg" alt="image"></a>
                                        <h1>Media and Publishing</h1>
                                        @*<h2>Giving and receiving respect helps improve communication and forms the foundation for freedom of expression.</h2>*@
                                        <h3 class="case_last-spc">CASE STUDY</h3>

                                    </section>
                                </section>

                                <section class="markit_place_content_left markit_place_content_right">
                                    <section>
                                        <a href=""><img src="~/Content/Images/plus.svg" alt="image"></a>
                                        <h1>
                                            Food and Beverage
                                        </h1>
                                        @*<h2>Being honest to our work is something that we can never compromise on and over the years it has made us the reliable name that we are.</h2>*@
                                        <h3>CASE STUDY</h3>

                                    </section>
                                    <div class="clearfix"></div>
                                    <section>
                                        <a href=""><img src="~/Content/Images/plus.svg" alt="image"></a>
                                        <h1>Education and Training</h1>
                                        @*<h2>No IT services or digital transformation company is complete without fruitful collaboration that leverages individual and collective genius.</h2>*@
                                        <h3>CASE STUDY</h3>

                                    </section>
                                    <div class="clearfix"></div>
                                    <section>
                                        <a href=""><img src="~/Content/Images/plus.svg" alt="image"></a>
                                        <h1>Health Care and Fitness</h1>
                                        @*<h2>Our zeal for constant improvement and technological finesse enables us to deliver superior quality solutions without fail every time.</h2>*@
                                        <h3 class="case_last-spc">CASE STUDY</h3>

                                    </section>
                                </section>


                            </section>
                        </section>
                    </section>
                </div>
            </section>




        </div>
        <div>
            <!-- blogs starts here -->
            <section class="blogs_list aos-item" data-aos="fade-up">
                <section class="container">
                    <div id="blogs-wrp">
                        <h3>
                            Want To Know More?<br>
                            Give Our Blogs A Quick Read
                        </h3>
                        <section class="blog_section_left">
                            <p>USER EXPERIENCE</p>
                            <h1>How business ideas transform into a working product?</h1>
                            <h4>5 mins read</h4>
                            <h2>Looking for the best whiskey mixed drinks and recipes to create for …</h2>
                            <h5><a href="">READ MORE</a></h5>
                        </section>
                        <section class="blog_section_right">
                            <p>DEVELOPMENT</p>
                            <h1>Android's bottom navigation vs Ios bottom navigation</h1>
                            <h4>8 mins read</h4>
                            <h2>Looking for the best whiskey mixed drinks and recipes to create for …</h2>
                            <h5><a href="">READ MORE</a></h5>

                        </section>
                    </div>
                </section>
                @Html.Partial("~/Views/Shared/footer_top.cshtml")
            </section>
            <!-- blogs ends here -->

        </div>
        <div>
            @Html.Partial("~/Views/Shared/footer_bottom.cshtml")
        </div>
    </div>
    <!--client start-->
    <div class="clearfix"></div>

    <!-- /.row -->
    <!-------------------- Footer section start------------------------->
    <!-- /.container -->
    <!-- javascript -->
    <script src="~/Content/plugin/owl/assets/vendors/jquery.min.js"></script>
    <script src="~/Content/plugin/owl/assets/owlcarousel/owl.carousel.js"></script>
    <script src="~/Content/plugin/owl/assets/vendors/jquery.mousewheel.min.js"></script>
    @*<script src="plugin/owl/assets/vendors/jquery.min.js"></script>*@
    @*<script src="plugin/owl/assets/owlcarousel/owl.carousel.js"></script>*@
    @*<script src="plugin/owl/assets/vendors/jquery.mousewheel.min.js"></script>*@
    <script src="~/Scripts/custom.js"></script>
    @*<script src="js/custom.js" type="text/javascript"></script>*@
    <script src="~/Content/dist/aos.js"></script>
    @*<script src="dist/aos.js"></script>*@
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });</script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            center: true,
            nav: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                960: {
                    items: 1
                },
                1200: {
                    items: 1
                }
            }
        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY > 0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });</script>

</body>
</html>
