
@{
    ViewBag.Title = "industry_detail";
}

<section class="case_study_page_wrp">
    <!-- start worldwide root -->

    <main class="container">
        <section>
            <ul class="bread_crumbs">
                <li style="margin-right: 5px;"><a href="index.php">HOME </a></li>
                <li><span class="activated"> / INDUSTRIES</span></li>
            </ul>
        </section>
        <article class="service_page_bnnr service_btm">
            <!--container start-->
            <h1>Secure Messaging<br>Platform for Hierarchical<br>& Distributed Workforce</h1>
        </article>
    </main>
    <!-- worldwide root end here -->
    <main class="container">
        <!-- faq start -->

        <div class="we-are-looking">
            <!---we-are-looking for scn start ---->
            <p class=" aos-item" data-aos="fade-up">We are looking for freethinkers who visualize what others don’t and are comfortable outside the box. People who empathize with users and simplify solutions like a piece of cake! You should be excited about research and analysis and also open- minded with an unquenchable thirst for new approaches.</p>
            <img class=" aos-item" data-aos="fade-up" src="~/Content/Images/we-are-lkng-indstrypage.png" />
        </div>                    <!---we-are-looking for scn end ---->
        <div class="your-mission-idus">
            <div class="your-mission-img aos-item" data-aos="fade-right">
                <div class="bg-clr-image">
                    <img src="~/Content/Images/industry-detail-package.png" />
                </div>
            </div>
            <div class="your-mission-text aos-item" data-aos="fade-left">
                <h4>Your Mission</h4>
                <p>Think, argue, analyse, strategize and iterate.<br>Open-minded for suggestions and criticism with an<br>unbreakable spirit. Analyse ‘what’ and not “how” the user<br>does it.<br>Create wireframe specifications with interaction flows.<br>In-depth understanding of clients and users.<br>Apply strategic design thinking to real-world problems.</p>
            </div>
        </div>

        <div class="your-mission-idus2">
            <div class="your-mission-text2 aos-item" data-aos="fade-right">
                <h4>Ideally, you should have</h4>
                <p>Think, argue, analyse, strategize and iterate.<br>Open-minded for suggestions and criticism with an<br>unbreakable spirit. Analyse ‘what’ and not “how” the user<br>does it.<br>Create wireframe specifications with interaction flows.<br>In-depth understanding of clients and users.<br>Apply strategic design thinking to real-world problems.</p>
            </div>
            <div class="your-mission-img aos-item" data-aos="fade-left">
                <div class="bg-clr-image">
                    <img src="~/Content/Images/industry-detail-package.png" />
                </div>
            </div>


        </div>

        <div class="your-mission-idus">
            <div class="your-mission-img aos-item" data-aos="fade-right">
                <div class="bg-clr-image">
                    <img src="~/Content/Images/industry-detail-package.png" />
                </div>
            </div>
            <div class="your-mission-text aos-item" data-aos="fade-left">
                <h4>Your Mission</h4>
                <p>Think, argue, analyse, strategize and iterate.<br>Open-minded for suggestions and criticism with an<br>unbreakable spirit. Analyse ‘what’ and not “how” the user<br>does it.<br>Create wireframe specifications with interaction flows.<br>In-depth understanding of clients and users.<br>Apply strategic design thinking to real-world problems.</p>
            </div>
        </div>
        <div class="new-approches">
            <p class="aos-item" data-aos="fade-up">We are looking for freethinkers who visualize what others don’t and are<br>comfortable outside the box. People who empathize with users and simplify<br>solutions like a piece of cake! You should be excited about research and analysis<br>and also open-minded with an unquenchable thirst for new approaches.</p>
        </div>
        <div class="wrk-we-do-text">
            <h5>Work We Did Healthcare</h5>
        </div>




        <!-- JT tradeship staRt -->
        <div class="jt-tradeship aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

        </div>

        <div class="jt-tradeship aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

        </div>
        <!-- JT tradesdhip end -->


    </main><!-- faq end -->
    <!--container end-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>

