
@{
    ViewBag.Title = "industry_2";
}
<section class="case_study_page_wrp">
    <!-- start worldwide root -->


    <main class="container">
        <section>

            <ul class="bread_crumbs_ind4">
                <li style="margin-right: 5px;"><a href="index.php">HOME </a></li>
                <li><span class="activated"> / INDUSTRIES</span></li>
            </ul>
        </section>
        <article class="service_page_bnnr service_btm">
            <!--container start-->
            <h1>Delivering successful<br>digital products.</h1>
        </article>
    </main>
    <!-- worldwide root end here -->
    <main class="container">
        <!-- faq start -->

        <section class="filter_categry-ind4">
            <h5>Filter by Category</h5>

            <ul class="filter_proces-ind4">
                <!-- ul start -->
                <li class="aos-item" data-aos="fade-right"><a href="#">AUTOMOBILES</a></li>
                <li class="aos-item" data-aos="fade-right"><a href="#">REAL ESTATE</a></li>
                <li class="aos-item" data-aos="fade-right"><a href="#">HEALTHCARE</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">MEDIA AND ENTERTAINMENT</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">MANUFACTURING</a></li></br>
            </ul>                                                       <!-- ul end -->
            <ul class="filter_proces-ind4">
                <!-- ul start -->
                <li class="aos-item" data-aos="fade-right"><a href="#">RETAIL & ECOMMERCE</a></li>
                <li class="aos-item" data-aos="fade-right"><a href="#">EDUCATION & E-LEARNING</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">TRAVEL & TOURISM</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">BANKING & FINANCE</a></li>
            </ul>                                                       <!-- ul end -->
            <ul class="filter_proces-ind4">
                <!-- ul start -->
                <li class="aos-item" data-aos="fade-right"><a href="#">PROFFESSIONAL SERVICES</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">SOFTWARE SERVICES</a></li>
                <li class="aos-item" data-aos="fade-left"><a href="#">LOGISTICS & TRANSPORTATION</a></li>
            </ul>                                                       <!-- ul end -->

        </section>

        <div class="healthcare-box1-ind2  aos-item" data-aos="fade-right">
            <!---health care box 1 scn start------>
            <main class="padding_heath-box">
                <div class="healthcare-text">
                    <h3>Automobiles</h3>
                    <p>Smart Templates protect your brand. Ensure brand consistency, go to market faster</p>
                    <h4><a href="">Learn More<img src="~/Content/Images/ind4-img2.svg" class="rgt-arrow-ind4 aos-item" data-aos="fade-left" /></a></h4>
                </div>

                <div class="healthcare-img">
                    <img src="~/Content/Images/ind_2-img1.png" />
                </div>
            </main>
        </div>                                                        <!---health care box 1 scn end------>

        <div class="healthcare-box2-ind2   aos-item" data-aos="fade-left">
            <!---health care box 2 scn start------>
            <main class="padding_heath-box">
                <div class="healthcare-text">
                    <h3>Real Estate</h3>
                    <p>Smart Templates protect your brand. Ensure brand consistency, go to market faster</p>
                    <h4>Learn More<img src="~/Content/Images/ind4-img2.svg" class="rgt-arrow-ind4 aos-item" data-aos="fade-left" /></h4>
                </div>

                <div class="healthcare-img">
                    <img src="~/Content/Images/ind_2-img2.png" />
                </div>
            </main>
        </div>                                                       <!---health care box 2 scn end------>

        <div class="healthcare-box3-ind2   aos-item" data-aos="fade-right">
            <!---health care box 3 scn start------>
            <main class="padding_heath-box">
                <div class="healthcare-text">
                    <h3>Healthcare</h3>
                    <p>Smart Templates protect your brand. Ensure brand consistency, go to market faster</p>
                    <h4>Learn More<img src="~/Content/Images/ind4-img2.svg" class="rgt-arrow-ind4 aos-item" data-aos="fade-left" /></h4>
                </div>

                <div class="healthcare-img">
                    <img src="~/Content/Images/ind4-img-1.png" />
                </div>
            </main>
        </div>                                                        <!---health care box 3 scn end------>

        <div class="healthcare-box4-ind2   aos-item" data-aos="fade-left">
            <!---health care box 4 scn start------>
            <main class="padding_heath-box">
                <div class="healthcare-text">
                    <h3>Media & Entertainment</h3>
                    <p>Smart Templates protect your brand. Ensure brand consistency, go to market faster</p>
                    <h4>Learn More<img src="~/Content/Images/ind4-img2.svg" class="rgt-arrow-ind4 aos-item" data-aos="fade-left" /></h4>
                </div>

                <div class="healthcare-img">
                    <img src="~/Content/Images/ind_2-img4.png" />
                </div>
            </main>
        </div>                                                       <!---health care box 4 scn end------>

        <div class="healthcare-box5-ind2   aos-item" data-aos="fade-right">
            <!---health care box 5 scn start------>
            <main class="padding_heath-box">
                <div class="healthcare-text">
                    <h3>Media & Entertainment</h3>
                    <p>Smart Templates protect your brand. Ensure brand consistency, go to market faster</p>
                    <h4>Learn More<img src="~/Content/Images/ind4-img2.svg" class="rgt-arrow-ind4 aos-item" data-aos="fade-left" /></h4>
                </div>

                <div class="healthcare-img">
                    <img src="~/Content/Images/ind_2-img2.png" />
                </div>
            </main>
        </div>                                                        <!---health care box 5 scn end------>

        <div class="healthcare-box6-ind2   aos-item" data-aos="fade-left">
            <!---health care box 6 scn start------>
            <main class="padding_heath-box">
                <div class="healthcare-text">
                    <h3>Healthcare</h3>
                    <p>Smart Templates protect your brand. Ensure brand consistency, go to market faster</p>
                    <h4>Learn More<img src="~/Content/Images/ind4-img2.svg" class="rgt-arrow-ind4 aos-item" data-aos="fade-left" /></h4>
                </div>

                <div class="healthcare-img">
                    <img src="~/Content/Images/ind4-img-1.png" />
                </div>
            </main>
        </div>                                                        <!---health care box 6 scn end------>

        <div class="work-we-did">
            <h2>Work We Did Healthcare</h2>
        </div>



        <div class="jt-tradeship   aos-item" data-aos="fade-up">
            <!-- JT tradeship staRt -->
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

        </div>

        <div class="jt-tradeship-ind2   aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

        </div>                                                              <!-- JT tradesdhip end -->




    </main>                                                            <!-- faq end -->
    <!--container end-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>