
@{
    ViewBag.Title = "Services";
}
<section class="case_study_page_wrp">
    <!-- start worldwide root -->


    <main class="container">
        <section>

            <ul class="bread_crumbs">
                <li style="margin-right: 5px;"><a href="@Url.Action("Index","Home")">HOME </a></li>
                <li><span class="activated"> / SERVICES</span></li>
            </ul>
        </section>
        <article class="service_page_bnnr service_btm">
            <!--container start-->
            <h1>We love collaborations<br>to create products</h1>
        </article>
    </main>
    <!-- worldwide root end here -->
    <main class="container">
        <!-- conatiner start -->


        <div class="design_secn">
            <!----design section service new  start--->
            <div class="design-text  aos-item" data-aos="fade-up">
                <h3>Design</h3>
            </div>

            <div class="perfect-jump  aos-item" data-aos="fade-up">
                <p>The perfect jumping off point for us to design a digital experience (UX) and interface (UI) that better serves your customersThe perfect jumping off point for us to design a digital experience (UX) and interface (UI) that better serves your customers point for us to</p>
            </div>

            <div class="design-img  aos-item" data-aos="fade-up">
                <img src="/Content/Images/service-new-img1.png" />
            </div>
            <div class="desgn-userexp  aos-item" data-aos="fade-up">
                <ul>
                    <li>
                        <a href="#" class="ux-text-deco">
                            User Experience
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ux-text-deco">
                            User interface
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Responsive design
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Usability & Accessibility
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Usability & Accessibility
                        </a>
                    </li>
                </ul>
            </div>


        </div>                                               <!----design section service new  end--->

        <div class="design_secn">
            <!----develop section service new  start--->
            <div class="design-text   aos-item" data-aos="fade-up">
                <h3>Develop</h3>
            </div>

            <div class="perfect-jump   aos-item" data-aos="fade-up">
                <p>You've got a brand that provides the products and/or services your customers need. But you've also only got seconds to grab their attention with captivating digital experiences. We engineer products and platforms that deliver maximum impact and optimal results.</p>
            </div>

            <div class="design-img   aos-item" data-aos="fade-up">
                <img src="/Content/Images/service-new-img2.png" />
            </div>
            <div class="desgn-userexp   aos-item" data-aos="fade-up">
                <ul>
                    <li>
                        <a href="#" class="ux-text-deco">
                            User Experience
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ux-text-deco">
                            User interface
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Responsive design
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Usability & Accessibility
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Usability & Accessibility
                        </a>
                    </li>
                </ul>
            </div>


        </div>                                                   <!----develop section service new  end--->

        <div class="design_secn">
            <!----digital-marketing section service new  start--->
            <div class="design-text   aos-item" data-aos="fade-up">
                <h3>Digital Marketing</h3>
            </div>

            <div class="perfect-jump   aos-item" data-aos="fade-up">
                <p>Your launch is not a finishing point, but the beginning of fresh ways to expand and grow your business. Our data analytics experts provide you with clear, comprehensive visualization tools that support smart decisions and recommendations for strategic refinements for better ROI and revenue maximization.</p>
            </div>

            <div class="design-img   aos-item" data-aos="fade-up">
                <img src="/Content/Images/desktp-service-img1.png" />
            </div>
            <div class="desgn-userexp   aos-item" data-aos="fade-up">
                <ul>
                    <li>
                        <a href="#" class="ux-text-deco">
                            User Experience
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ux-text-deco">
                            User interface
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Responsive design
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Usability & Accessibility
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Usability & Accessibility
                        </a>
                    </li>
                </ul>
            </div>


        </div>                                                            <!----digital-marketing section service new  end--->
    </main>                                                            <!-- container end -->
    <div class="here-a-list">
        <!----list of technology start---->
        <main class="container">
            <!-- container start -->
            <div class="tchno-types">

                <div class="here-a-text  aos-item" data-aos="fade-up">
                    <p>Here is a list of technology we use during product development.</p>
                </div>

                <div class="techno-web aos-item" data-aos="fade-up">
                    <h4>Web</h4>
                    <ul>
                        <li><a href="">Angular</a></li>
                        <li><a href="">React</a></li>
                        <li><a href="">Vue</a></li>
                        <li><a href="">ASP.NET Core</a></li>
                        <li><a href="">Python<a></li>
                        <li><a href="">PHP</a></li>
                        <li><a href="">C#</a></li>
                        <li><a href="">.NET</a></li>
                    </ul>
                </div>

                <div class="techno-web aos-item" data-aos="fade-up">
                    <h4>Mobile</h4>
                    <ul>
                        <li><a href="">Angular</a></li>
                        <li><a href="">React</a></li>
                        <li><a href="">Vue</a></li>
                        <li><a href="">ASP.NET Core</a></li>
                        <li><a href="">Python<a></li>
                        <li><a href="">PHP</a></li>
                        <li><a href="">C#</a></li>
                        <li><a href="">.NET</a></li>
                    </ul>
                </div>

                <div class="techno-web aos-item" data-aos="fade-up">
                    <h4>Devops</h4>
                    <ul>
                        <li><a href="">Angular</a></li>
                        <li><a href="">React</a></li>
                        <li><a href="">Vue</a></li>
                        <li><a href="">ASP.NET Core</a></li>
                        <li><a href="">Python<a></li>
                        <li><a href="">PHP</a></li>
                        <li><a href="">C#</a></li>
                        <li><a href="">.NET</a></li>
                    </ul>
                </div>

                <div class="techno-web aos-item" data-aos="fade-up">
                    <h4>Database</h4>
                    <ul>
                        <li><a href="">Angular</a></li>
                        <li><a href="">React</a></li>
                        <li><a href="">Vue</a></li>
                        <li><a href="">ASP.NET Core</a></li>
                        <li><a href="">Python<a></li>
                        <li><a href="">PHP</a></li>
                        <li><a href="">C#</a></li>
                        <li><a href="">.NET</a></li>
                    </ul>
                </div>

                <div class="techno-web   aos-item" data-aos="fade-up">
                    <h4>Data</h4>
                    <ul>
                        <li><a href="">Angular</a></li>
                        <li><a href="">React</a></li>
                        <li><a href="">Vue</a></li>
                        <li><a href="">ASP.NET Core</a></li>
                        <li><a href="">Python<a></li>
                        <li><a href="">PHP</a></li>
                        <li><a href="">C#</a></li>
                        <li><a href="">.NET</a></li>
                    </ul>
                </div>


            </div>
        </main>                                              <!-- container end -->
    </div>                                                <!----list of technology start---->


    <main class="container">
        <!-- container start -->

        <div class="healthcare-servicenew   aos-item" data-aos="fade-up">
            <h5>Work We Did Healthcare<h5>
        </div>

        <div class="jt-tradeship mb-1   aos-item" data-aos="fade-up">
            <!-- JT tradeship staRt -->
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/dsktp-service-img2.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/dsktp-service-img3.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

        </div>

        <div class="jt-tradeship mb-2   aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/dsktp-service-img4.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>

        </div>                                                                     <!-- JT tradesdhip end -->





    </main>
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>