
@{
    ViewBag.Title = "User_Experience_serice";
}

<section class="case_study_page_wrp">
    <!-- start worldwide root -->

    <main class="container">
        <section>
            <!----------bread cumbs starts  ----->
            <ul class="bread_crumbs aos-item" data-aos="fade-up">
                <li style="margin-right: 5px;"><a href="index.php">HOME </a></li>
                <li><span class="activated"> / SERVICES</span></li>
            </ul>
        </section>                                                                    <!----------bread cumbs ends----->
        <div class="user-exper-bnnr aos-item" data-aos="fade-up">
            <!--banner heading start------->
            <p>User Experience Design<p>
                <h1>Applying principles of Design<br>Thinking and Human</h1>
        </div>                                                                        <!--banner heading end------->
        <div class="remember-when-your">
            <!--when your mother section start ------->
            <div class="remember-when_img">
                <img src="/Content/Images/user-when-you.png" class="aos-item" data-aos="fade-up" />
            </div>
            <div class="remember-when_text">
                <h3 class="aos-item" data-aos="fade-up">Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held your palm over a candle’s flame and started feeling the burn? The “laws of UX” are similar — they are cause and effect relationships where one event (the cause) makes another event happen (the effect). Whether a designer acknowledges them or not, the “laws” rule and operate — and will affect the effectiveness of a design.</h3>
                <h4 class="aos-item" data-aos="fade-up">Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.</h4>
                <h5 class="aos-item" data-aos="fade-up"> Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload. Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.</h5>
            </div>
        </div>                                                                        <!--when your mother section start ------->

        <div class="user-exp-capablty">
            <!-----our capabilities start -------->
            <div class="capabilities-user-ser aos-item" data-aos="fade-up">
                <p>Our Capabilities</p>
            </div>
            <div class="ui-ux-srvc-main">
                <ul>
                    <li class="mb-strtgy">
                        <h2 class="aos-item" data-aos="fade-up">01</h2>
                        <div class="design-strtgy aos-item" data-aos="fade-up">
                            <h3>Design Strategy</h3>
                            <p>Discover what should you be doing with your product. Refine your idea. Identify opportunities early. Rely on our UI/UX consultants. Identify opportunities early. Rely on our UI/UX consultantsDiscover what should you be doing with your product. Refine your idea.</p>
                        </div>
                        <img src="~/Content/Images/desn-strtgy-srvc.png" class="aos-item" data-aos="fade-right" />
                    </li>
                    <li class="mb-strtgy">
                        <h2 class="aos-item" data-aos="fade-up">02</h2>
                        <div class="design-strtgy aos-item" data-aos="fade-up">
                            <h3>Design Sprints</h3>
                            <p>Discover what should you be doing with your product. Refine your idea. Identify opportunities early. Rely on our UI/UX consultants. Identify opportunities early. Rely on our UI/UX consultantsDiscover what should you be doing with your product. Refine your idea.</p>
                        </div>
                        <img src="~/Content/Images/dsn-strtgy-srvc2.png" class="aos-item" data-aos="fade-right" />
                    </li>
                    <li class="mb-strtgy">
                        <h2 class="aos-item" data-aos="fade-up">03</h2>
                        <div class="design-strtgy aos-item" data-aos="fade-up">
                            <h3>Product Prototype</h3>
                            <p>Discover what should you be doing with your product. Refine your idea. Identify opportunities early. Rely on our UI/UX consultants. Identify opportunities early. Rely on our UI/UX consultantsDiscover what should you be doing with your product. Refine your idea.</p>
                        </div>
                        <img src="~/Content/Images/desn-strgy-srvc3.png" class="aos-item" data-aos="fade-right" />
                    </li>
                    <li>
                        <h2 class="aos-item" data-aos="fade-up">04</h2>
                        <div class="design-strtgy aos-item" data-aos="fade-up">
                            <h3>Usability & Accessibility</h3>
                            <p>Discover what should you be doing with your product. Refine your idea. Identify opportunities early. Rely on our UI/UX consultants. Identify opportunities early. Rely on our UI/UX consultantsDiscover what should you be doing with your product. Refine your idea.</p>
                        </div>
                        <img src="~/Content/Images/desn-strtgy-srvc4.png" class="aos-item" data-aos="fade-right" />
                    </li>
                </ul>
            </div>
        </div>                                                                        <!-----our capabilities start -------->
        <div class="dsn-prcss-main ">
            <h2 class="aos-item" data-aos="fade-up">Design Process</h2>
            <img src="~/Content/Images/dsn-prcss-img1.svg" class="aos-item" data-aos="fade-up" />
        </div>


        <div class="wrk-do-text aos-item" data-aos="fade-up">
            <h5>Work We Did Healthcare</h5>
        </div>
        <div class="jt-tradeship aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
        </div>
        <div class="jt-tradeship aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="~/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
        </div>
        <!-- JT tradesdhip end -->


    </main><!-- faq end -->
    <!--container end-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>

