
@{
    ViewBag.Title = "User_Interface";
}

<section class="case_study_page_wrp">
    <!-- start worldwide root -->

    <main class="container">
        <section>
            <!----------bread cumbs starts  ----->
            <ul class="bread_crumbs aos-item" data-aos="fade-up">
                <li style="margin-right: 5px;"><a href="index.php">HOME </a></li>
                <li><span class="activated"> / SERVICES</span></li>
            </ul>
        </section>                                                                    <!----------bread cumbs ends----->
        <div class="user-exper-bnnr aos-item" data-aos="fade-up">
            <!--banner heading start------->
            <p>UI design & branding<p>
                <h1>Applying principles of Design<br>Thinking and Human</h1>
        </div>                                                                        <!--banner heading end------->
        <div class="ui-remember_when">
            <!--ui-remember when section start-->
            <div class="ui-remember-img">
                <img src="~/Content/Images/ui-rember-1.png" class="remember-1" class="aos-item" data-aos="fade-up" />
                <img src="~/Content/Images/ui-remeber-2.png" class="aos-item" data-aos="fade-up" />
            </div>
            <div class="ui-remember-text aos-item" data-aos="fade-up">
                <h4>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held your palm over a candle’s flame and started feeling the burn? The “laws of UX” are similar — they are cause and effect relationships where one event (the cause) makes another event happen (the effect). Whether a designer acknowledges them or not, the “laws” rule and operate — and will affect the effectiveness of a design.</h4>
                <h5> Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.</h5>
                <h6>Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload. Take Miller’s Law, for example, which states that “the average person can only keep around seven items in their working memory.” When the rule is disregarded, people are forced to think more than they should have to. UX professionals refer to this phenomenon as cognitive overload.Take Miller’s Law, for example,</h6>
            </div>
        </div>                                                                     <!--ui-remember when section end-->
        <div class="ui-capablty-main">
            <!-----our capabilities scn start---->
            <div class="ui-capa-text aos-item" data-aos="fade-up">
                <!---ui-capablty text start --->
                <h3>Our Capabilities</h3>
            </div>                                                                     <!---ui-capablty text end--->
            <div class="ui-cata-main">
                <!--ui-cblty-catagory start--->
                <div class="logo-brnd-main mr-ui-logo">
                    <!--logo-brnd-main strt-->
                    <div class="logo-brnd-img aos-item" data-aos="fade-down">
                        <!---logo-brnd-img--->
                        <img src="/Content/Images/ui-logo-1.svg" />
                    </div>                                                                     <!---logo-brnd-img end--->
                    <div class="logo-brnd-text aos-item" data-aos="fade-left">
                        <!---logo-brnd-text-->
                        <h3>Logo & Branding</h3>
                        <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held</p>
                    </div>                                                                     <!---logo-brnd-text end-->
                </div>                                                                     <!--logo-brnd-main end-->
                <div class="logo-brnd-main">
                    <!--logo-brnd-main strt-->
                    <div class="logo-brnd-img aos-item" data-aos="fade-down">
                        <!---logo-brnd-img--->
                        <img src="/Content/Images/ui-logo-2.svg" />
                    </div>                                                                     <!---logo-brnd-img end--->
                    <div class="logo-brnd-text aos-item" data-aos="fade-left">
                        <!---logo-brnd-text-->
                        <h3>Mobile App UI & Interaction Design</h3>
                        <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held</p>
                    </div>                                                                     <!---logo-brnd-text end-->
                </div>                                                                     <!--logo-brnd-main end-->
            </div>                                                                     <!--ui-cblty-catagory end--->
            <div class="ui-cata-main">
                <!--ui-cblty-catagory start--->
                <div class="logo-brnd-main mr-ui-logo">
                    <!--logo-brnd-main strt-->
                    <div class="logo-brnd-img aos-item" data-aos="fade-down">
                        <!---logo-brnd-img--->
                        <img src="/Content/Images/ui-logo-3.svg" />
                    </div>                                                                     <!---logo-brnd-img end--->
                    <div class="logo-brnd-text aos-item" data-aos="fade-left">
                        <!---logo-brnd-text-->
                        <h3>Web UI Design</h3>
                        <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held</p>
                    </div>                                                                     <!---logo-brnd-text end-->
                </div>                                                                     <!--logo-brnd-main end-->
                <div class="logo-brnd-main">
                    <!--logo-brnd-main strt-->
                    <div class="logo-brnd-img aos-item" data-aos="fade-down">
                        <!---logo-brnd-img--->
                        <img src="/Content/Images/ui-logo-4.svg" />
                    </div>                                                                     <!---logo-brnd-img end--->
                    <div class="logo-brnd-text aos-item" data-aos="fade-left">
                        <!---logo-brnd-text-->
                        <h3>Print Design</h3>
                        <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held</p>
                    </div>                                                                     <!---logo-brnd-text end-->
                </div>                                                                     <!--logo-brnd-main end-->
            </div>                                                                     <!--ui-cblty-catagory end--->
            <div class="ui-cata-main">
                <!--ui-cblty-catagory start--->
                <div class="logo-brnd-main mr-ui-logo">
                    <!--logo-brnd-main strt-->
                    <div class="logo-brnd-img aos-item" data-aos="fade-down">
                        <!---logo-brnd-img--->
                        <img src="/Content/Images/ui-logo-5.svg" />
                    </div>                                                                     <!---logo-brnd-img end--->
                    <div class="logo-brnd-text aos-item" data-aos="fade-left">
                        <!---logo-brnd-text-->
                        <h3>Graphic Design</h3>
                        <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held</p>
                    </div>                                                                     <!---logo-brnd-text end-->
                </div>                                                                     <!--logo-brnd-main end-->
                <div class="logo-brnd-main">
                    <!--logo-brnd-main strt-->
                    <div class="logo-brnd-img aos-item" data-aos="fade-down">
                        <!---logo-brnd-img--->
                        <img src="/Content/Images/ui-logo-6.svg" />
                    </div>                                                                     <!---logo-brnd-img end--->
                    <div class="logo-brnd-text aos-item" data-aos="fade-left">
                        <!---logo-brnd-text-->
                        <h3>Social Media Design</h3>
                        <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held</p>
                    </div>                                                                     <!---logo-brnd-text end-->
                </div>                                                                     <!--logo-brnd-main end-->
            </div>                                                                     <!--ui-cblty-catagory end--->
        </div>                                                                     <!-----our capabilities scn end ---->
        <div class="ui-dsgn-prncpl-main">
            <!---ui desn principle scn start--->
            <div class="ui-prncpl-img aos-item" data-aos="fade-up">
                <!--ui-prncpl-img-->
                <img src="~/Content/Images/ui-prncipl-img.png" />
            </div>
            <div class="ui-prncpl-text aos-item" data-aos="fade-up">
                <!---ui-prncpl-text--->
                <h3>Design Principles</h3>
                <p>Remember when your mother warned you not to run down the stairs because you could fall and hurt yourself? Or when you held your palm over a candle’s flame and started feeling the burn? The “laws of UX” are similar — they are cause and effect relationships where one event (the cause) makes another event happen (the effect). Whether a designer acknowledges them or not, the “laws” rule and operate — and will affect the effectiveness of a design.</p>
            </div>
        </div>                                                                   <!---ui desn principle scn end--->

        <div class="ui-dsn-process-main">
            <!--ui design process scn start--->
            <div class="design-process-txt aos-item" data-aos="fade-up">
                <h3>Design Process</h3>
            </div>
            <div class="desn-prcs-sub aos-item" data-aos="fade-up">
                <!---design brifing catagories start ---->
                <div class="vari-ui-brifing">
                    <p>01</p>
                </div>
                <div class="text-ui-brifing">
                    <h4>Briefing</h4>
                    <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
                </div>
            </div>                                                                   <!---design brifing catagories ends---->
            <div class="desn-prcs-sub aos-item" data-aos="fade-up">
                <!---design brifing catagories start ---->
                <div class="vari-ui-brifing">
                    <p>02</p>
                </div>
                <div class="text-ui-brifing">
                    <h4>Strategy</h4>
                    <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
                </div>
            </div>                                                                   <!---design brifing catagories ends---->
            <div class="desn-prcs-sub aos-item" data-aos="fade-up">
                <!---design brifing catagories start ---->
                <div class="vari-ui-brifing">
                    <p>03</p>
                </div>
                <div class="text-ui-brifing">
                    <h4>Wireframe</h4>
                    <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
                </div>
            </div>                                                                   <!---design brifing catagories ends---->
            <div class="desn-prcs-sub aos-item" data-aos="fade-up">
                <!---design brifing catagories start ---->
                <div class="vari-ui-brifing">
                    <p>04</p>
                </div>
                <div class="text-ui-brifing">
                    <h4>Visual design</h4>
                    <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
                </div>
            </div>                                                                   <!---design brifing catagories ends---->
            <div class="desn-prcs-sub aos-item" data-aos="fade-up">
                <!---design brifing catagories start ---->
                <div class="vari-ui-brifing">
                    <p>05</p>
                </div>
                <div class="text-ui-brifing">
                    <h4>Prototyping</h4>
                    <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
                </div>
            </div>                                                                   <!---design brifing catagories ends---->
            <div class="desn-prcs-sub aos-item" data-aos="fade-up">
                <!---design brifing catagories start ---->
                <div class="vari-ui-brifing">
                    <p>06</p>
                </div>
                <div class="text-ui-brifing">
                    <h4>Development</h4>
                    <p>Our focus is on the whole child – mind, heart, body and spirit. At Wunder School we appreciate each.</p>
                </div>
            </div>                                                                   <!---design brifing catagories ends---->

        </div>                                                                   <!--ui design process scn end--->

        <div class="wrk-do-text mt-none aos-item" data-aos="fade-up">
            <h5>Work We Did Healthcare</h5>
        </div>
        <div class="jt-tradeship aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
        </div>
        <div class="jt-tradeship aos-item" data-aos="fade-up">
            <div class="wrk-jt-tradeship1 mr-work-client-jt">
                <div class="wrk-jt-img">
                    <img src="/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
            <div class="wrk-jt-tradeship1">
                <div class="wrk-jt-img">
                    <img src="/Content/Images/work-jt-img1.png" />
                </div>
                <div class="wrk-jt-text">
                    <h5>JANSTRADING<br><span class="wrk-tradeship">Tradeship</span></h5>
                    <h3>Online sale purchase of used vehicles worldwide</h3>
                </div>
            </div>
        </div>
        <!-- JT tradesdhip end -->


    </main><!-- faq end -->
    <!--container end-->
    @Html.Partial("~/Views/Shared/footer_top.cshtml")
</section>
