<section class="elite_footer">


    <footer class="container">
        <section id="elite_footer">
            <!-- <h1>Say <span>Adios</span></h1> -->
            <section class="elite_footer_section">

                <h2>Silicon Valley, USA</h2>
                <h3><a href="">info@elitewebtechnologies.com</a></h3>
                <h3><a href="">+001 123 435 8876</a></h3>

                <h3>1 Hacker Way, Menlo Park, CA 94025</h3>


            </section>

            <section class="elite_footer_section">

                <h2>Silicon Valley, USA</h2>
                <h3><a href="">info@elitewebtechnologies.com</a></h3>
                <h3><a href="">+001 123 435 8876</a></h3>

                <h3>1 Hacker Way, Menlo Park, CA 94025</h3>


            </section>

            <section class="elite_footer_section elite_footer-last">

                <h2>Silicon Valley, USA</h2>
                <h3><a href="">info@elitewebtechnologies.com</a></h3>
                <h3><a href="">+001 123 435 8876</a></h3>

                <h3>1 Hacker Way, Menlo Park, CA 94025</h3>


            </section>
            <div class="clearfix"></div>
            <section class="copy_right_section">
                <section class="copy_right_list_left">
                    <ul class="">

                        <li><a href="faq.php">FAQ</a> </li>
                        <li><a href="">Terms of Use </a></li>
                        <li><a href="">Privacy Notice</a></li>
                        <li>© Elite webtechnologies 2019</li>


                    </ul>


                </section>
                <section class="copy_right_list_right">
                    <ul class="">

                        <li><a href="">Linkedin</a> </li>
                        <li><a href="https://www.instagram.com/elitewebtechnologies/">Instagram</a></li>
                        <li><a href="https://www.facebook.com/elitewebtechnologies1/">Facebook</a></li>



                    </ul>
                </section>
            </section>

        </section>
    </footer>
</section>

<script type="text/javascript">
		var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
		var element = document.getElementById('text');
		if (isMobile) {
  			window.location.href = "http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/mobile-app";

		} else {
			//window.location.href = "http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/";
		}
</script>
