<div class="footer-head ">
    <!----got a project idea start-->
    <div class="container">
        <h1>
            Got A Project Idea?
            <span class="footer-span"><a href="@Url.Action("Contact_us","Home")">Click To Talk!</a></span>
        </h1>
        <p>Let's Begin With Your Project On The Fast-Track</p>
    </div>
</div>           <!----got a project idea end-->
