<!-- Header Section starts Here -->
<header class="header-wrp">
    <section class="header-container">
        <a class="elite-logo" href="@Url.Action("Index","Home")"><img src="~/Content/Images/elite_logo.svg" alt="elite-logo-image" /></a>
        <section class="header-right">
            <a href="#" class="lets-talk">Let's Work Together</a>
            <a href="javascript:void(0);" class="elite-hamber animated aos-item" data-aos="fade-right"><span class="span_1"></span><span class="span_2"></span><span class="m_text">MENU</span></a>

        </section>
    </section><!--container end-->
</header>
<!-- Header Section Ends Here -->

