<div class="got-project">
    <div class="pad-got-prjct">
        <div class="project-head">
            <h1>Got A Project Idea?</h1>
            <p>We Can Show You How It'll Pan Out</p>
            <a href="http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/keshav/elite-mobile/contact_us.php">LET'S TALK</a>
        </div>

    </div>
</div>
<div class="footer-wrp">
    <!----elite footer start-->

    <section class="elite_footer">

        <ul>
            <li>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false"></a>
                <h1>Silicon Valley, USA</h1>
                <img src="~/Content/Mobile/images/right_icon.png" alt="" class="arrow-icon imgdown display_content">
                <img src="~/Content/Mobile/images/down_icon.png" alt="" class="arrow-icon imgup hide">
                <div class="pcontent hide mrg-btm-26">
                    <h3><a href="mailto:info@elitewebtechnologies.com">info@elitewebtechnologies.com</a></h3>
                    <h3><a href="tel:+001 123 435 8876">+001 123 435 8876</a></h3>
                    <h3>1 Hacker Way, Menlo Park, CA 94025</h3>
                </div>
            </li>

            <li class="border_btm"></li>

            <li class="mt_10">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true"> </a>
                <div class="">
                    <h1 class="">Las Vegas, USA</h1>
                    <img src="~/Content/Mobile/images/right_icon.png" alt="services" class="spc-mrg-rt-10 arrow-icon imgdown display_content"><img src="~/Content/Mobile/images/down_icon.png" alt="services" class="imgup hide">
                    <div class="pcontent hide">
                        <h3><a href="mailto:info@elitewebtechnologies.com">info@elitewebtechnologies.com</a></h3>
                        <h3><a href="tel:+001 123 435 8876">+001 123 435 8876</a></h3>
                        <h3>1 Hacker Way, Menlo Park, CA 94025</h3>
                    </div>
                </div>
            </li>



            <li class="border_btm"></li>

            <li>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false"></a>
                <h1>Panchkula, India</h1>
                <img src="~/Content/Mobile/images/right_icon.png" alt="" class="arrow-icon imgdown display_content">
                <img src="~/Content/Mobile/images/down_icon.png" alt="" class="arrow-icon imgup hide">
                <div class="pcontent hide">
                    <h3><a href="mailto:info@elitewebtechnologies.com">info@elitewebtechnologies.com</a></h3>
                    <h3><a href="tel:+001 123 435 8876">+001 123 435 8876</a></h3>
                    <h3>1 Hacker Way, Menlo Park, CA 94025</h3>
                </div>
            </li>
        </ul>

    </section>

    <div class="social-left">
        <ul>
            <li><a href="http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/keshav/elite-mobile/FAQ.php">FAQ</a></li>
            <li><a href="">Terms of Use</a></li>
            <li><a href=""> Privacy Notice</a></li>
        </ul>
    </div>
    <div class="social-right">
        <ul>

            <li><a href="">Linkedin</a> </li>
            <li><a href="https://www.instagram.com/elitewebtechnologies/">Instagram</a></li>
            <li><a href="https://www.facebook.com/elitewebtechnologies1/">Facebook</a></li>

        </ul>
    </div>

    <div class="copyright">
        <p>© Elite webtechnologies 2020</p>
    </div>

</div>       <!----elite footer end___-->
<script type="text/javascript">
    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    var element = document.getElementById('text');
    if (isMobile) {
        //window.location.href = "http://192.168.1.150:8080/EliteSite2k19/24_sep_keshav/mobile-app";

    } else {
        window.location.href = "http://elitewebdemo.com/elitenew/";
    }
</script>
