<!---eilte header start-->
<div class="elite-header">
    <div class="header-left">
        <a href="index.php" class="elite-mob-logo"><img src="~/Content/Mobile/images/elite_logo.svg" width=110></a>
    </div>
    <section class="header-right">
        <a href="" class="lets-talk">Let's Work Together</a>
        <a href="javascript:void(0);" class="menu_hamber"><img src="~/Content/Mobile/images/mobile-hdr-img1.svg" class="img-pdng"></a>
    </section>
</div>
<!---eilte header end-->
